/*
Properties to effect the entire html file.
All sizes are done in relative lengths (mainly 'em' and '%') rather than absolute lengths (px, cm, mm).
All colors are in rgb format for a consistent format.
Most if not all of the spacing is done with padding rather then margins. Margins effect space in relation to
    objects, while padding effects space in relation to anything within an object. Be careful when adding
    margins as to not screw with text and image layouts.
*/
:root {
    --colorone: ;
    --colortwo: ;
    --colorthree: ;
    --colorfour: ;

}

html{
    background: linear-gradient(rgb(40, 47, 66), rgb(54, 27, 50)) no-repeat center / cover scroll;
    padding: 2em 0em 0em 0em;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(222, 222, 222);
}

/*
Properties for the navigation element and its attributes.
*/
nav {
    position: fixed;
    right: 0;
    top: 0;
    padding: 1.5em 1em;
    width: 100%;
    overflow: hidden;
    text-align: left;
    background-color: rgb(25, 16, 29);
}

nav a {
    text-decoration-line: none;
    padding: 1.25em 2em;
    color: rgb(222, 222, 222);
}

nav a:hover:not(.viewing) {
    background: rgb(50, 32, 58)
}

.viewing {
    background: rgb(159, 106, 161);
}

/*
Properties for headers.
*/


/*
Properties for p elements adn their classes.
*/


/*
Properties for div elements and their classes/attributes.
*/
.board1 {
    display: block;
    background-color: rgb(156, 156, 156);
    margin: 2em auto;
    max-width: fit-content;
    height: fit-content;
}

.board1, .board2 {
    position: relative;
}

.board2, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.board2 {
    text-align: center;
    width: 50em;
}

tr {
    height: 5em;
}

/* 
Properties for forms and inputs
*/
.playerguess {
    display: block;
    position: relative;
    margin: 2em auto;
    max-width: fit-content;
}

.colorlabel {
    appearance: none;
    position: relative;
    width: 5.5em;
    height: 5.5em;
    margin: 0 .5em;
    overflow: visible;
    display: inline-block;
    border-radius: 100%;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    box-shadow: .45em -.75em .75em 0em rgba(54, 27, 50, 0.712) inset, 
                0em 0em 0em .25em rgba(255, 255, 255, 0);
    border-radius: 100%;
    transition: .3s;
}

input[type="checkbox"]:hover {
    box-shadow: .45em -.75em .75em 0em rgba(54, 27, 50, 0.712) inset, 
                0em 0em 0em .25em rgba(255, 255, 255, 0.507);
}

input[type="checkbox"]:checked {
    box-shadow: .45em -.75em .75em 0em rgba(54, 27, 50, 0.712) inset, 
                0em 0em 0em .25em rgb(255, 255, 255);
}