/*
Properties to effect the entire html file
All sizes are done in relative lengths (mainly 'em') rather than absolute lengths (px, cm, etc.)
All colors are in rgb format
*/
html{
    background: linear-gradient(rgb(40, 47, 66), rgb(54, 27, 50)) no-repeat center / cover fixed;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(222, 222, 222);
    margin: 1em 1em;
    padding: 0;
}

/*
Properties for the navigation element and its attributes
*/
nav {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    padding: 1.5em 1em;
    width: 100%;
    overflow: hidden;
    text-align: left;
    background-color: rgb(25, 16, 29);
}

nav a {
    text-decoration-line: none;
    padding: 1.25em 2em;
    color: rgb(222, 222, 222);
}

nav a:hover:not(.viewing) {
    background: rgb(50, 32, 58)
}

.viewing {
    background: rgb(159, 106, 161);
}

/*
Properties for headers
*/
h1 {
    color: rgb(222, 222, 222);
    font-size: 4em;
    text-align: center;
}

h2 {
    color: rgb(185, 186, 192);
    font-size: 2.5em;
    text-align: center;
}

h3 {
    color: rgb(185, 186, 192);
    font-size: 2em;
}

/*
Properties for div elements
*/

div {
    & p {
        font-size: 1.25em;
    }
}

div.home-mm, div.home-guess, div.home-customize {
    padding: 6em 0;
    margin: 2em;
    background: url("Stu.png") right no-repeat;
    background-clip: border-box;
    text-align: left;
}