<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/game.css">
    <script src="../static/game.js"></script>
    <title>Mastermind - Game</title>
</head>
<body>
    
    <div class="board">
        <table class="gameInfo" id="gameInfo">
            <tr>
                <th style="width:10%">Turn</th>
                <th style="width:65%">Guess</th>
                <th style="width:25%">Hint</th>
            </tr>
          </table>
    </div>

    <div class="currentpassword">
        <div title="Current Password" id="currentpassword"> 
            Current Password
        </div>
    </div>

    <div class="controls">
        <form id="passwordattempt" ></form>
        <input type="submit" id="submit" class="submit" value="Waiting" disabled>
    </div>
    
    <script> // Script to create the game page
        const colorList = ["red", "blue", "green", "purple", "pink" ,"saddlebrown"];
        setUpBoard(8);
        setUpColors(colorList);
    </script> 

</body>
</html>