<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/general.css">
    <title>Mastermind</title>
</head>

<body>
    <nav>
        <a href="home.html">Home</a>
        <a href="game.html">Start Master Mind</a>
        <a href="howtoplay.html">How to play Master Mind</a>
        <a href="scoreboard.html">Scoreboard</a>
        <a href="about.html">About</a>
    </nav>

    <h1>Welcome to Mastermind</h1>

    <h2><em>Can you crack the code?</em></h2>

    <!--
        Add code blocks for short previews of the gameplay
        Add snippets of descriptions for each preview

    -->

</body>
</html>