<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Mind</title>
    <link rel="stylesheet" href="static/general.css">
</head>

<body>
    <h1>Welcome to Master Mind</h1>

    <nav>
        <a href="home.html">Start Master Mind</a> |
        <a href="home.html">What is Master Mind?</a> |
        <a href="home.html">Configure Game Rules</a> |
        <a href="home.html">Scoreboard</a> |
        <a href="home.html">About</a>
    </nav>

</body>
</html>