<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/game.css">
    <script src="../static/game.js"></script>
    <title>Test</title>
</head>
<body>
    <form class="passwordguess">
        <label for="colorone" class="colorswitch"> colorone
            <input type="checkbox" class="colortoggle unmarked" id="colorone" 
            onclick="toggleUnmarked(colorone)" style="background-color: red;">
        </label>
        <label for="colortwo" class="colorswitch">
            <input type="checkbox" class="colortoggle unmarked" id="colortwo" 
            onclick="toggleUnmarked(colortwo)" style="background-color: blue;">
        </label>
        <label for="colorthree" class="colorswitch">
            <input type="checkbox" class="colortoggle unmarked" id="colorthree" 
            onclick="toggleUnmarked(colorthree)" style="background-color: green;">
        </label>
        <label for="colorfour" class="colorswitch">
            <input type="checkbox" class="colortoggle unmarked" id="colorfour"
            onclick="toggleUnmarked(colorfour)" style="background-color: pink;">
        </label>
        <label for="colorfive" class="colorswitch">
            <input type="checkbox" class="colortoggle unmarked" id="colorfive" 
            onclick="toggleUnmarked(colorfive)" style="background-color: purple;">
        </label>
        <label for="colorsix" class="colorswitch">
            <input type="checkbox" class="colortoggle unmarked" id="colorsix"
            onclick="toggleUnmarked(colorsix)" style="background-color: brown;">
        </label>
    </form>
</body>
</html>