<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/game.css">
    <title>Test</title>
</head>
<body>
    
    <div class="coloroptions">
        <label class="colorswitch">
            <input type="checkbox">
            <span class="colortoggle" id="colorone" style="background-color: red;"></span>
        </label>
        <label class="colorswitch">
            <input type="checkbox">
            <span class="colortoggle" id="colortwo" style="background: rgb(0, 0, 255);"></span>
        </label>
        <label class="colorswitch">
            <input type="checkbox">
            <span class="colortoggle" id="colorthree" style="background: green;"></span>
        </label>
        <label class="colorswitch">
            <input type="checkbox">
            <span class="colortoggle" id="colorfour" style="background: pink;"></span>
        </label>
        <label class="colorswitch">
            <input type="checkbox">
            <span class="colortoggle" id="colorfive" style="background: purple;"></span>
        </label>
        <label class="colorswitch">
            <input type="checkbox">
            <span class="colortoggle" id="colorsix" style="background: brown;"></span>
        </label>
    </div>
    

</body>
</html>